<app-navbar></app-navbar>




<div class="container">
  <div class="starter-template">
    <h1>Bootstrap starter template</h1>
    <p class="lead">Use this document as a way to quickly start any new project.
      <br> All you get is this text and a mostly barebones HTML document.</p>
  </div>


  <div class="row">
    <div class="col-md-2 col-sm-0"></div>
    <div class="col-8">

      <form action="">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label for="amount">Amount</label>
              <input type="text" class="form-control" id="amount" />
            </div>

          </div>
          <div class="col-md-9">
              <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="description" />
              </div>
  
            </div>
            
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="creditAccount">Credit Account</label>
              <input type="text" class="form-control" id="creditAccount" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="debitAccount">Debit Account</label>
              <input type="text" class="form-control" id="debitAccount" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
              <button type="submit" class="btn btn-primary mb-2">Create</button>
          </div>
        </div>
      </form>


    </div>
    <div class="col-md-2 col-sm-0"></div>
  </div>


</div>