<app-navbar></app-navbar>




<div class="container">
  <div class="starter-template">
    <h1>Bootstrap starter template</h1>
    <p class="lead">Use this document as a way to quickly start any new project.
      <br> All you get is this text and a mostly barebones HTML document.</p>
  </div>


  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">

      <form action="">
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="firstname">Firstname</label>
              <input type="text" class="form-control" id="firstname" />
            </div>

          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="lastname">Lastname</label>
              <input type="text" class="form-control" id="lastname" />
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="creditAccount">Credit Account</label>
              <input type="text" class="form-control" id="creditAccount" />
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="debitAccount">Debit Account</label>
              <input type="text" class="form-control" id="debitAccount" />
            </div>
          </div>
        </div>
      </form>


    </div>
    <div class="col-2"></div>
  </div>


</div>