@model Thrifty.Web.Areas.Admin.Models.Database.DatabaseIndexVM

@{
    ViewBag.Title = "Database";
}

<h2>Database Configuration</h2>




<form asp-controller="Database" asp-action="Migrate" method="post">
    <h3>Scripts to Execute</h3>
    <ul>
        @foreach (string script in Model.ScriptsToExecute)
        {
            <li>@script</li>
        }
    </ul>


    <h3>Executed scripts</h3>
    <ul>
        @foreach (string script in Model.ScriptsExecuted)
        {
            <li>@script</li>
        }
    </ul>
    
    <button asp-action="Migrate">Execute scripts</button>
</form>

