@model object

@{
    ViewBag.Title = "Accounts";
}

<h2>Accounts</h2>

<form role="form" asp-controller="Accounts" asp-action="Create" method="post">
    <div class="form-group">
        <label class="control-label" for="accountName">Account Name</label>
        <input type="text" class="form-control" id="accountName" name="accountName" placeholder="Account Name">
    </div>
    <div class="form-group">
        <label class="control-label" for="accountKey">Account Key</label>
        <input type="text" class="form-control" id="accountKey" name="accountKey" placeholder="Account Key">
    </div>
    <button type="submit" class="btn btn-default">Create</button>
</form>
